* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-width: 0;
}

/* section {
  width: 100%;
} */

img {
  width: 100%;
  max-width: 100%;
  align-self: flex-start;
}

p {
  font-size: 1.3rem;
  font-family: 'roboto';
}

h1, h2 {
  font-family: 'playfair display';
  font-weight: 900;
}

h1 {
  font-size: 3.75rem;
  color: #824936;
}

.section-title:not(.main-title) {
  font-size: 2.25rem;
  margin-bottom: 0.7em;
}

/* .title-2 {
  margin-bottom: 2em;
} */

/* section {
  width: 80%;
  margin: 0 auto;
} */

.container {
  width: 80%;
  max-width: 1128px;
  margin: 0 auto;
  padding: 4em 0;
}

/* .container > * {
  margin: 0 auto;
} */


.section-1 {
  text-align: center;
  min-height: 660px;
  align-content: center;
  background-color: #F3EED9 ;
  /* display: flex;
  align-items: center; */
}

.s1-p {
  font-weight: 300;
  letter-spacing: 10px;
}

.section-2 > p {
  color: #222C2A;
}

.section-2 .section-title {
  width: fit-content;
  margin: 1em auto 1.5em;
}

.section2-text > p {
  color: #222C2A;
}

.section-3,
.section-4 {
  color: #F3EED9;
}

.section-3 {
  background-color: #222C2A;
}

.section-4 {
  background-color: #824936;
}
/* 
.col {
  width: 40%;
} */

.section-text {
  width: 50%;
  /* place-content: center; */
}

.img-container {
  width:50%;
} 

.row,
.section2-text {
  display: flex;
  /* gap: 1em;  */
}

.section4-text {
  order: 2;
}

.section4-text {
  margin-left: auto;
}

.title-2 {
  color: #824936;
}

.col-2,
.img-1,
.section4-text {
  margin-left: 3em;
}

/* .col + .col {
  margin-left: auto;
} */